<% layout('/layouts/boilerplate') %>
    <h1 class="text-uppercase text-center">Campgrounds </h1>
    <!-- <div calss="d-block" style="width: 100%; height:40rem ">
        <img class="img-fluid" src="https://res.cloudinary.com/dnpmcbq9p/image/upload/v1696070290/YelpCamp/zfad00x09ltte1xjvxm9.jpg" alt="">
    </div> -->
    <div>
        <img src="https://res.cloudinary.com/dnpmcbq9p/image/upload/v1696070290/YelpCamp/zfad00x09ltte1xjvxm9.jpg"
            class="img-fluid" alt="..." style="height: 300px; object-fit: cover; width:100%">
    </div>
    <div class="container">
        <div class="row">
            <% for (let campground of campgrounds){%>
                <div class="col-12 col-sm-6 col-md-3 col-lg-3 mt-2">
                    <div class="card" style="width: 100%;">
                        <img src="<%=campground.images[0].url%>" class="img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= campground.title %>
                            </h5>
                            <p class="card-text">
                                <%= campground.description %>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    <%= campground.location%>
                                </small>
                            </p>
                            <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">View Details
                            </a>
                        </div>
                    </div>
                </div>
                <% }%>

        </div>
    </div>